// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "gcw0.dts"

/ {
	compatible = "wolsen,PocketGo2", "ingenic,jz4770";
	model = "wolsen PocketGo2";
	
	panel {
		compatible = "frida,frd350h54004";

		reset-gpios = <&gpe 2 GPIO_ACTIVE_LOW>;

		backlight = <&backlight>;
		power-supply = <&vcc>;

		port {
			frida_input: endpoint {
				remote-endpoint = <&panel_output>;
			};
		};
	};
};

&pins_lcd {
	groups = "lcd-24bit";
};

&panel {
	status = "disabled";
};

/* Make ABT panel port a dummy to avoid DTC complaints */
&panel_input {
	remote-endpoint = <&panel_input>;
};

&panel_output {
	remote-endpoint = <&frida_input>;
};

&btn6 {
	label = "Button X";
};

&btn7 {
	label = "Button Y";
};
&btn8 {
	gpios = <&gpb 20 GPIO_ACTIVE_LOW>;
};

&btn9 {
	gpios = <&gpe 26 GPIO_ACTIVE_LOW>;
};

&pmu {
	charger = <&usb_conn>;
	power-supplies = <&usb_conn>;
};

&usb_conn {
	vbus-supply = <&vcc>;
};

&gpio_keys {
		button@14 {
			label = "L2 shoulder button";
			linux,code = <KEY_PAGEUP>;
			linux,can-disable;
			gpios = <&gpd 31 GPIO_ACTIVE_LOW>;
		};

		button@15 {
			label = "R2 shoulder button";
			linux,code = <KEY_PAGEDOWN>;
			linux,can-disable;
			gpios = <&gpf 10 GPIO_ACTIVE_LOW>;
		};
	
		button@16 {
			label = "Volume+ button";
			linux,code = <KEY_VOLUMEUP>;
			linux,can-disable;
			gpios = <&gpd 19 GPIO_ACTIVE_LOW>;
		};

		button@17 {
			label = "Volume- button";
			linux,code = <KEY_VOLUMEDOWN>;
			linux,can-disable;
			gpios = <&gpe 13 GPIO_ACTIVE_LOW>;
		};
	
		button@18 {
			label = "Menu button";
			linux,code = <KEY_HOME>;
			linux,can-disable;
			gpios = <&gpe 8 GPIO_ACTIVE_LOW>;
		};
};

&i2c4 {
	status = "disabled";
};

&it6610 {
	status = "disabled";
};

&dc_charger {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
};

&radio {
	status = "disabled";
};

&usb_vbus {
	status = "disabled";
};
